<!doctype html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf -8">
        <title>{% block title %}{% endblock %}</title>

        {% block styles %}
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        {% endblock %}
    </head>
    <body>


        {% block nav %}
        <nav >
            <ul class="navBar">
                <li class="divLien">
                    <ul>
                        <li ><a  href="{% url 'product-list' %}">Produits</a></li>
                        <li ><a  href="{% url 'productItem-list' %}">ProductItem</a></li>
                        <li ><a  href="{% url 'productFournisseur-list' %}">produit Fournisseur</a></li>
                        <li ><a  href="{% url 'fournisseur-list' %}">Fournisseur</a></li>
                        <li ><a  href="{% url 'productAttribute-list' %}">ProductAttribute</a></li>
                        {% if user.is_superuser %}

                        <li ><a  href="{% url 'commande-list' %}">Commande</a></li>
                        {%endif%}
                    </ul>
                </li>
            

            
            

                <li class="divConnexionInscription">
                    <ul>
                        {% if user.is_authenticated %}
                        <li >
                        <a  href="{% url 'logout' %}" >Déconnexion</a>
                        </li>
                        {%else%}
                        <li >
                        <a  href="{% url 'login' %}" >Connexion</a>
                        </li>
                        <li >
                        <a  href="{% url 'register' %}" >Inscription</a>
                        </li>
                        {%endif%}
                    </ul>
                </li>
            
            </ul>

            </nav >        
        {% block menu %}{% endblock %}
        </nav >
        {% endblock %}
        <main role="main" class="container top-pushed">
            <div class="jumbotron">
            {% block contenu %}
            {% endblock %}
            </div>
        </main >
        <footer class="footer">
            <div class="container">
            <p>&copy; Copyright {% now "Y" %} by Titof Production Copyrigh (c)</p>
            </div>
        </footer>
    </body>
</html>