{% extends 'monapp/base.html' %}
{% block title %}
    Mon application DJANGO
{% endblock %}
{% block menu %}
    <h1>    {{ titremenu }}    </h1>
{% endblock %}
{% block contenu %}
    <table class="table">

    <a class="btnCree" href="{% url 'commande-add' %}">Créer une nouvelle commande</a>
    <thead>
        <th>Nom</th>
        <th>États commande</th>

        <th>Action</th>

    </thead>
    <tbody>
    {% for prdct in commande %}
    <tr>
        
        <td><a href="{% url 'commande-detail' prdct.id %}">{{ prdct.commandeName }}</a></td>
        <td><p>{{ prdct.etatCommande }}</p></td>
        <td>
            <a href="{% url 'productAttribute-detail' prdct.id %}" class="btn btn-primary mt-2">Détails</a>
            <a href="{% url 'commande-update' prdct.id %}" class="btn btn-warning mt-2">Modifier</a>
            <a href="{% url 'commande-delete' prdct.id %}" class="btn btn-danger mt-2">Supprimer</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}