{% extends 'monapp/base.html' %}
{% block title %}
    Mon application DJANGO
{% endblock %}
{% block menu %}
    <h1>    {{ titremenu }}    </h1>
{% endblock %}
{% block contenu %}
    <table class="table">

    <a href="{% url 'productFournisseur-add' %}">Créer un nouveau produit fournisseur</a>
    <thead>
        <th>Nom</th>
        <th> Fournisseur </th>
        <th>Modifier</th>
        <th>Delete</th>
    </thead>
    <tbody>
    {% for prdct in fournisseur %}
    <tr>
        
        <td><a href="{% url 'productFournisseur-detail' prdct.id %}">{{ prdct.product.name }}</a></td>
        <td><a href="{% url 'fournisseur-detail' prdct.fournisseur.id %}">{{ prdct.fournisseur.name }}</a></td>
        <td>
            <a href="{% url 'productFournisseur-update' prdct.id %}">modifier</a>
        </td>
        <td>
            <a href="{% url 'productFournisseur-delete' prdct.id %}">delete</a>
        </td>

    </tr>-
    {% endfor %}
    </tbody>
    </table>

{% endblock %}