{% extends 'monapp/base.html' %}
{% block title %}
    Mon application DJANGO
{% endblock %}
{% block menu %}
    <h1>    {{ titremenu }}    </h1>
{% endblock %}
{% block contenu %}
    <table class="table">

    <a class="btnCree" href="{% url 'product-add' %}">Créer un nouveau produit</a>
    <thead>
        <th>Nom</th>
        <th>Code</th>
        <th>Stock</th>
        <th>Date Création</th>
        <th>Modifier</th>
        <th>Delete</th>
        {% if user.is_superuser %}
        <th>Commander</th>
        {%endif%}
    </thead>

    <tbody>
    {% for prdct in products %}
    <tr>
        
        <td><a href="{% url 'product-detail' prdct.id %}">{{ prdct.name }}</a></td>
        <td>{{ prdct.code }} </td>
        <td>{{ prdct.stock }} </td>
        <td>{{ prdct.date_creation }} </td>
        <td>
            <a href="{% url 'product-update' prdct.id %}" class="btn btn-warning mt-2">modifier</a>
        </td>
        <td>
            <a href="{% url 'product-delete' prdct.id %}" class="btn btn-danger mt-2">delete</a>
        </td>
        {% if user.is_superuser %}
        <td>
            <a href="{% url 'commande-add' %}">Commander</a>
        </td>
        {%endif%}

    </tr>
    {% endfor %}
    </tbody>
    </table>
  
{% endblock %}